
body {
  font-family: 'Roboto', sans-serif;
  background-color: #F8F9FA;
  margin: 0;
  padding: 0;
  color: #343A40;
}

header {
  background-color: #007BFF; 
  padding: 40px 20px;
  text-align: center;
  color: white;
}

h1 {
  font-size: 2em;
  margin: 0;
  padding-bottom: 20px;
}

h2 {
  font-size: 1.8em;
  color: #007BFF;
  margin-bottom: 20px;
}

main {
  padding: 40px 20px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  background-color: #FFFFFF;
  margin: 20px 0;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-left: 5px solid #007BFF; 
  transition: transform 0.3s, box-shadow 0.3s;
}

li:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  border-left: 5px solid #0056b3; 
}

a {
  color: #007BFF; 
  text-decoration: none;
  font-weight: bold;
  transition: color 0.2s;
}

a:hover {
  color: #0056b3; 
  text-decoration: underline;
}

p {
  font-size: 1.1em;
}

/* Responsiv design for mobile enheter */
@media (max-width: 600px) {
  main {
    padding: 20px 10px;
  }
  h1 {
    font-size: 1.8em;
  }
  h2 {
    font-size: 1.5em;
  }
  li {
    padding: 15px;
  }
  a {
    font-size: 1em;
  }
}

/* Responsiv design for nettbrett */
@media (min-width: 600px) and (max-width: 1024px) {
  main {
    padding: 30px 15px;
  }
  h1 {
    font-size: 2em;
  }
  h2 {
    font-size: 1.6em;
  }
  li {
    padding: 18px;
  }
  a {
    font-size: 1.1em;
  }
}
